@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(248, 235, 191);
  color: rgb(100, 78, 221);
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

a {
  color: inherit;
  text-decoration: none;
  /* font-size: 2vw; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato';
}

.email {
  font-size: 3vw;
  /* color: rgb(100, 78, 221); */
}

.hi {
  font-size: 6vw;
}

.little-bio {
  font-size: 1em;
  line-height: 2em;
  margin-top: -2em;
}

.bio-container{
  width: 90vw;
  display: flex;
  justify-content: justify;
}

.bio-content{
  width: 90vw;
  text-align: left;
}

.white-space{
  height: 10vw;
}

.skills{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 50vw;
}

.skills-list {
  list-style: none;
}

.background-content {
  width: 90vw;
}

.background-container{
  width: 90vw;
  display: flex;
  justify-content: justify;
}

.background-tag {
  font-size: 3vw;
}

.skills-container{
  display: flex;
  width: 90vw;
  justify-content: space-around;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.button-container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navBtn {
  background-color: rgb(100, 78, 221);
	border-radius:28px;
	/* display:inline-block; */
	cursor:pointer;
	color:#ffffff;
	font-family: 'Lato';
	font-size: 2vw !important;
	font-weight:bold;
	padding:16px 31px;
  text-decoration:none;
  border:none;
  margin: 5px;
}

.navBtn:hover {
	background-color:#a20dbd;
}

.navBtn:active {
	position:relative;
	top:1px;
}

.project-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.project-img {
  width: 60vw;
  height: auto;
}

/* .social-container {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  color: rgb(100, 78, 221);
  margin-left: 40%;
  margin-top: 2vw;
} */

.socials {
  font-size: 4vw;
  padding: 10px;
}

/* styles for the scrolling text boxes */
.active {
  opacity: 1 !important;
}

.container {
  min-height: 100vh;
  /* width: 100vw; */
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  /* opacity: 0.2; */
  color: rgb(100, 78, 221);
  scroll-snap-align: start;
}

.step {
  width: 20%;
  padding: 20px;
  margin-left: 60%;
  margin-right: 30px;
  margin-bottom: 50vh;
  border: 1px solid rgb(100, 78, 221);
  border-radius: 20px;
  opacity: 0.2;
  background-color: rgb(233, 118, 127);
  color: white;
  font-family: "Arial";
  text-align: left;
  box-shadow: 10px 10px rgb(100, 78, 221);
}

.responsive {
  visibility: hidden;
}

.step-two {
  width: 20%;
  padding: 20px;
  margin-right: 60%;
  margin-left: 30px;
  margin-bottom: 50vh;
  border: 1px solid rgb(100, 78, 221);
  border-radius: 20px;
  opacity: 0.2;
  background-color: rgb(233, 118, 127);
  color: white;
  font-family: "Arial";
  text-align: left;
  box-shadow: 10px 10px rgb(100, 78, 221);
}

.step h1{
  color: white;
  font-family: 'Lato';
}

.portfolio-image {
  width: 60%;
  height: auto;
}

.aboutStuff{
  color: rgb(100, 78, 221);
}

.circle {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  box-shadow: 3px 3px darkblue;
}

.social-icons-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.bird-container{
  display: flex;
  justify-content: center;
}

.center-bird:hover{
  animation: magnified 2s 1;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes magnified{
  0%{
  transform: scale(1.2,1.2);
  }
  70%{
  transform: scale(1.2,1.2);
  }
  100%{
  transform: scale(1,1);
  }
  }

  /* for iphones */
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .step, .step-two {
      visibility: hidden;
    }

    #chart-wrapper{
      width: 90vw;
    }

    #chart-wrapper-two{
      width: 90vw;
    }

    #chart-wrapper-three{
      width: 90vw;
    }

    .portfolio-image {
      width: 90vw;
    }

    .bird-container {
      width: 90vw;
    }

    .ending {
      visibility: hidden;
    }

    .circle {
      width: 150px;
      height: 150px;
    }

    .responsive-container {
      width: 80vw;
      text-align: left;
      border: 1px solid rgb(100, 78, 221);
      border-radius: 20px;
      background-color: rgb(233, 118, 127);
      color: white;
      font-family: "Arial";
      text-align: left;
      box-shadow: 10px 10px rgb(100, 78, 221);
      padding: 15px;
    }

    .responsive {
      visibility: visible;
      margin: 0 auto;
    }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .step, .step-two {
      visibility: hidden;
    }

    #chart-wrapper{
      width: 90vw;
    }

    #chart-wrapper-two{
      width: 90vw;
    }

    #chart-wrapper-three{
      width: 90vw;
    }

    .portfolio-image {
      width: 90vw;
    }

    .bird-container {
      width: 90vw;
    }

    .ending {
      visibility: hidden;
    }


}


